.media-object{
  width: 100px;
}
#user_image{
  width: 60px;
  height: 60px;
}

.big_title{
  text-align: center;
  font-size: 6em;
  font-weight: 600;
}

.active{
  background-color:#03A9F4 !important;
  border-color:#03A9F4 !important;
}
.strech{
  width: 100%;
}
.main{
  max-width: 1024px;
  margin: auto;
}

.icon-text{
  font-size: 18px;
}

.panel-header>.img-thumbnail{
  border: 0px;
  padding: 0px;
  border-radius: 0px;
}

.panel-body>.list-inline{
  margin: auto;
  float: none;
  text-align: center;
}

.row-recipes {
  -moz-column-width: 22em;
  -webkit-column-width: 22em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  margin-left: auto;
  margin-right: auto;
}

.menu-category {
  display: inline-block;
  margin:  1rem;
  padding:  1rem;
  width:  100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media screen
{
    .printable, .printable * {
        display: none !important;
    }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    body {
      font-family: Georgia, serif;
      background: none;
      color: black;
      width: 100%; 
      margin: 0 !important; padding: 0 !important; 
      background: none;
    }  
    h4{
      font-size: 15px;
    }
    h3{
      font-size: 15px;
      margin: 0px;
    }
    .panel, .panel-primary{
      margin: 0px;
    }
}